@font-face {
    font-family: "California Vibes";
    src: url("../fonts/calivornia-vibes/California\ Vibes.otf") format("opentype");
}

@font-face {
    font-family: "Kg Red Hands";
    src: url("../fonts/kg-red-hand/KGRedHands.ttf") format("opentype");
}


.border-shadow-bottom {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.carousel{
    height: 40vw;
}
.carousel-item{
    height: auto;
}

.bg-slide {
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-slide-image{
     width: 100%;
     height: auto;
}

/* #img-slide-1{
    background-image: url(../img/home1.png);
}

#img-slide-2{
    background-image: url(../img/home2.png);
} */

.about {
    padding-top: 20px;
    position: relative;
    width: 100%;
    height: 40vw;
    margin-bottom: 20vh;
    background-image: url(../img/about.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-logo {
    position: absolute;
    padding-top: 1vh;
    padding-left: 6vh;
}
.about-logo img{
    width: auto;
    width: 7vw;;
}

.about-title {
    /* margin-top: 1vh; */
    display: flex;
    justify-content: center;
}

.about-title-text {
    text-align: center;
    width: 150px;
}

.about-title-text h2 {
    font-weight: 700;
}

.about-content {
    text-align: center;
    margin-top: 8vh;
    padding-left: 197px;
    padding-right: 197px;
}

.about-content-text {
    text-align: left;
    font-size: 23px;
}

.best-product {
    width: 100%;
    height: auto;
    padding-top: 1vh;
    margin-bottom: 10vh;
}

.best-product-text {
    text-align: center;
    /* background-color: aliceblue; */
    height: fit-content;
}

.best-product-items {
    margin-top: 6vh;
}
.container-fluid .row{
    margin-left: 2vw;
}
.item-box {
    width: 270px;
    min-height: 440px;
    background-image: url('../img/produk-bg-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
}
.item-image {
    background-color: red;
    width: 220px;
    height: 150px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}


.item-text {
    text-align: center;
    padding: 0;
}

.item-title {
    color: #f1ae32;
    font-size: 24px;
    line-height: 30px;
}
.separate-line {
    width: 60%;
    height: 2px;
    background-color: white;
}

.text-harga {
    color: #f1ae32;
    font-size: 22px;
    margin-top: 4px;
    margin-bottom: 3px;
}

.box-harga {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 70px;
}

.text-harga-normal{
    color: #f1ae32;
    font-size: 32px;
    font-weight: 700;
}
.text-harga-up{
    color: #f1ae32;
    font-size: 76px;
    font-weight: bold;
}
.box-desc{
    width: 200px;
    display: flex;
    margin-left: 13%;
    margin-top: 25px;
}
.desc-sort{
    font-size: 22px;
    font-weight: bold;
    color: white;
}


.item-box-2 {
    height: 440px;
    width: 270px;
    margin-top: 75px;
    background-image: url('../img/produk-bg-2.png');
    background-size: contain;
    background-position: center;
    position: relative;
    padding-top: 40%;
    border-radius: 10px;
}

.item-box-2 .item-text .item-title{
    color:#7e5303;
}

.item-box-2 .item-text .separate-line{
    background-color:#7e5303;
}

.item-box-2 .item-text .text-harga{
    color:#7e5303;
}

.item-box-2 .item-text .text-harga-normal{
    color:#7e5303;
}

.item-box-2 .item-text .text-harga-up{
    color:#7e5303;
}

.item-box-2 .box-desc .desc-sort{
    color:#7e5303;
}

.btn-show-menu{
    background-color: #7e5303;
    padding: 7px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}

.our-products{
    margin: 4vh;
    /* background-color: black; */
}
.product-title{
    text-align: center;
}

.sort-text{
    margin-top: 7vh;
}

.list-group-item:hover{
    color: black;
}
.list-group-item{
    font-weight: bold;
    color: rgb(102, 102, 102);
    cursor: pointer;
}

.banner-ads img{
    width: 100%;
}

.news{
    margin-top: 10vh;
}

.card{
    position: relative;
    transition: filter 2 linear;
}
.card img{
    display: block;
    filter: brightness(50%);
    width: 100%;
    height: auto;
}

.card .news-text{
    position: absolute;
    margin-top: 15vw;
    margin-left: 2vw;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.btn-show-news{
    background-color: #7e5303;
    padding: 7px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
}

.contact{
    margin-top: 10vh;
}
/* .contact-list{
    display: flex;
    list-style-type: none;
}

.contact-list li{
    padding: 0 10px;
    vertical-align: middle;
} */



@media (max-width:863px) {
    .about{
        position: relative;
        width: 100%;
        height: 400px;
        background-size: auto 100%;
        background-position: top center;
        /* background-image: none; */
    }
    .about-content-text{
        font-size: small;
        text-align: left;
    }
    .about-content {
        margin-top: 10px;
        text-align: center;
        margin-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .container-fluid .row{
        margin-left: 0;
    }
    .item-box {
        width: 240px;
    }
    
    .item-image {
        width: 170px;
        height: 120px;
        top: -30px;
        transform: translateX(-50%);
    }

    .item-title {
        font-size: 20px;
        line-height: 30px;
    }
    
    .text-harga {
        font-size: 18px;
        margin-top: 4px;
        margin-bottom: 3px;
    }

    .text-harga-normal{
        font-size: 27px;
        font-weight: 700;
    }
    .text-harga-up{
        color: #f1ae32;
        font-size: 52px;
        font-weight: bold;
    }
    
    .desc-sort{
        font-size: 19px;
    }
}

