@font-face {
    font-family: "california-vibes";
    src: url("../fonts/calivornia-vibes/California\ Vibes.otf") format("opentype");
}

@font-face {
    font-family: "red-hand";
    src: url("../fonts/kg-red-hand/KGRedHands.ttf") format("opentype");
}

.nav-title{
    font-family: "red-hand";
    font-weight: 100;
    font-size: 16px;
}
.nav-menu{
    font-family: "red-hand";
    font-weight: 100;
    font-size: 15px;
}

.border-shadow-bottom {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.carousel{
    height: 40vw;
}
.carousel-item{
    height: auto;
}

.bg-slide {
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-slide-image{
     width: 100%;
     height: auto;
}

/* #img-slide-1{
    background-image: url(../img/home1.png);
}

#img-slide-2{
    background-image: url(../img/home2.png);
} */

.about {
    padding-top: 20px;
    position: relative;
    width: 100%;
    height: 40vw;
    margin-bottom: 20vh;
    background-image: url(../img/about.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-logo {
    position: absolute;
    padding-top: 1vh;
    padding-left: 6vh;
}
.about-logo img{
    width: auto;
    width: 7vw;;
}

.about-title {
    /* margin-top: 1vh; */
    display: flex;
    justify-content: center;
}

.about-title-text {
    text-align: center;
    width: 150px;
}

.about-title-text h2 {
    font-family: 'red-hand';
    font-weight: 700;
    color: #633d0a;
}

.about-content {
    text-align: center;
    margin-top: 8vh;
    padding-left: 197px;
    padding-right: 197px;
}

.about-content-text {
    text-align: left;
    font-size: 19px;
    font-family: 'red-hand';
    font-weight: lighter;;
    color: #633d0a;
}

.best-product {
    width: 100%;
    height: auto;
    padding-top: 1vh;
    margin-bottom: 10vh;
}

.best-product-text {
    text-align: center;
    /* background-color: aliceblue; */
    height: fit-content;
}

.best-product-text h2{
    font-size: 40px;
    font-weight: 900;
    font-family: 'california-vibes';
}

.best-product-items {
    margin-top: 6vh;
}
.container-fluid .row{
    margin-left: 2vw;
}
.item-box {
    width: 270px;
    min-height: 440px;
    background-image: url('../img/produk-bg-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
}
.item-image {
    width: 240px;
    height: 150px;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
}


.item-text {
    text-align: center;
    padding: 0;
}

.item-title {
    font-family: 'red-hand';
    color: #f1ae32;
    font-size: 19px;
    line-height: 30px;
}
.separate-line {
    width: 60%;
    height: 2px;
    background-color: white;
}

.text-harga {
    color: #f1ae32;
    font-family: 'red-hand';
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 3px;
}


.box-harga {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 70px;
}
.sort-menu {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;      
    justify-content: center;
    gap: 6px;
}

.sort-menu .list-group-item {
    white-space: nowrap;
    cursor: pointer;
}


.text-harga-normal{
    color: #f1ae32;
    font-size: 32px;
    font-weight: 700;
}
.text-harga-up{
    color: #f1ae32;
    font-family: 'red-hand';
    font-size: 65px;
    font-weight: bold;
}
.box-desc{
    width: 200px;
    display: flex;
    margin-left: 13%;
    margin-top: 25px;
}
.desc-sort{ 
    font-size: 11.9px;
    font-weight: 100;
    line-height: 2;
    font-family: 'red-hand';
    color: white;
}


.item-box-2 {
    width: 270px;
    min-height: 440px;
    background-image: url('../img/produk-bg-2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
}

.item-title-2{
    font-family: 'red-hand';
    color:#7e5303;
    font-size: 19px;
    line-height: 30px;
}

.separate-line-2{
    background-color:#7e5303;
    width: 60%;
    height: 2px;
}

.text-harga-2{
    font-family: 'red-hand';
    color:#7e5303;
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 3px;
}

.text-harga-normal-2{
    color:#7e5303;
    font-size: 32px;
    font-weight: 700;
}
.item-content{
    line-height: 35px;
}

.text-harga-up-2{
    color:#7e5303;
    font-family: 'red-hand';
    font-size: 65px;
    font-weight: bold;
}

.desc-sort-2{
    color:#7e5303;
    font-size: 18px;
    font-weight: 100;
    font-family: 'red-hand';
    font-weight: bold;
}

.btn-show-menu{
    font-family: 'california-vibes';
    background-color: #7e5303;
    padding: 4px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
}

.our-products{
    margin: 4vh;
    /* background-color: black; */
}
.product-title{
    text-align: center;
}

.product-title h2{
    font-size: 40px;
    font-weight: 900;
    font-family: 'california-vibes';
}

.sort-text{
    margin-top: 7vh;
}

.list-group-item:hover{
    color: black;
}

.item-active{
    font-family: 'california-vibes';
    font-size: 26px;
    font-weight: 300;
    color: black;
}

.item-nonaktif{
    font-family: 'california-vibes';
    font-size: 25px;
    font-weight: 300;
    color: rgb(102, 102, 102);
}

.list-group-item{
    font-weight: bold;
    cursor: pointer;
}

.banner-ads img{
    width: 100%;
}

.gallery{
    margin-top: 10vh;
}
.gallery-title{
    font-size: 40px;
    font-weight: 900;
    font-family: 'california-vibes';
}

.card{
    position: relative;
    transition: filter 2 linear;
}
.card img{
    display: block;
    filter: brightness(90%);
    width: 100%;
    height: auto;
}
.card img:hover {
    filter: brightness(100%);
}

.btn-show-gallery{
    font-family: 'california-vibes';
    background-color: #7e5303;
    padding: 4px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
}


.contact{
    margin-top: 10vh;
}

.contact-title{
    font-size: 40px;
    font-weight: 900;
    font-family: 'california-vibes';
}

.contact-item{
    font-size: 30px;
    font-weight: 900;
    font-family: 'california-vibes';
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    margin-top: 120px;
    background-color: lightgray;
}
.footer-text{
    color: black;
    font-weight: bold;
    font-size: 50px;
    font-family: 'california-vibes';
}


@media (max-width:863px) {
    .about{
        position: relative;
        width: 100%;
        height: 400px;
        background-size: auto 100%;
        background-position: top center;
        /* background-image: none; */
    }
    .about-content-text{
        font-size: small;
        text-align: left;
    }
    .about-content {
        margin-top: 10px;
        text-align: center;
        margin-top: 20px;
        padding-left: 23px;
        padding-right: 15px;
    }
    
    .about-logo {
        padding-top: 0px;
        padding-left: 20px;
    }
    
    .about-logo img{
        width: 40px;
    }
    .container-fluid .row{
        margin-left: 0;
    }
    .best-product-text h2{
        font-size: 34px;
    }
    .best-product-items{
        margin-top: 3px;
    }
    .item-box {
        width: 270px;
        border-radius: 14px;
    }
    
    .item-image {
        width: 200px;
        height: 120px;
        top: -40px;
        transform: translateX(-50%);
    }

    .item-title {
        font-size: 19px;
        line-height: 30px;
    }
    .item-title-2 {
        font-size: 19px;
        line-height: 30px;
    }
    
    .text-harga {
        font-size: 18px;
        margin-top: 2px;
        margin-bottom: 0px;
    }
    .text-harga-2 {
        font-size: 18px;
        margin-top: 2px;
        margin-bottom: 0px;
    }

    .text-harga-normal{
        font-size: 27px;
        font-weight: 700;
    }
    .text-harga-normal-2{
        font-size: 27px;
        font-weight: 700;
    }

    .text-harga-up{
        font-size: 52px;
        font-weight: bold;
    }
    .text-harga-up-2{
        font-size: 52px;
        font-weight: bold;
    }
    
    .desc-sort{
        font-size: 12px;
    }
    .desc-sort-2{
        font-size: 16px;
    }

    .btn-show-menu{
        font-size: 20px;
        padding-left: 14px;
        padding-right: 14px;
        border-radius: 90px;
    }
    .btn-show-gallery{
        font-size: 20px;
        padding-left: 14px;
        padding-right: 14px;
        border-radius: 90px;
    }
    .contact-title{
        margin-left: 40px;
    }
    .footer{
        height: 50px;
        margin-top: 60px;
    }
    .footer-text{
        font-size: 30px;
    }
}
